.banner-content{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.banner h1 {
  font-family: 'Montserrat';
  font-size: 50px;
  font-weight: 500;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  opacity: 0.87;
  margin-bottom: 50px;
}



body {
  background: url('http://i.hizliresim.com/v4Qykv.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 13px;
}


  .textbox:focus {
  outline: 0;
  background-color: #FFF;
  }




  #button {
  width: 190px;
  font-family: "Montserrat";
  font-size: 8px;
  outline: 0;
  background: none;
  background-color: rgba(255,255,255, 0.7);
  float: left;
  border: 0;
  height: 50px;
  width: 350px;
  text-align: center;
  line-height: 52px;
  color: rgba(199, 55, 75, 0.9);
  font-size: 21px;
  text-rendering: auto;
  // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  // #button:hover {
  // background-color: #C47482;
  // }

  #button::placeholder {
    color: rgba(199, 55, 75, 0.9);
    font-size: 20px;

  }
