.banner-content{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  text-align: center;
  background: rgba(127, 127, 127, 0.5);
  background-image: radial-gradient(black 33%, transparent 33%);
  background-size: 2px 2px;
  h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 500;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
  }
  p {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 300;
    color: white;
    margin-bottom: 50px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

  }
}

.header-home{
  h1{
   text-align: center;
  }
}

.video{
    // position: absolute;
    // top: 0;
    // right: 0;
    // z-index: -1;
    // width: 100vw;
position: absolute;
bottom: 0;
right: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1;
}


body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 13px;
  background-color: white;
}


  .textbox:focus {
  outline: 0;
  background-color: #FFF;
  }

  .home-search {
    margin: 0px auto;
  }


  #button {
  width: 190px;
  font-family: "Montserrat";
  font-size: 8px;
  outline: 0;
  background: none;
  background-color: rgba(255,255,255, 0.7);
  float: left;
  border: 0;
  height: 50px;
  width: 350px;
  text-align: center;
  line-height: 52px;
  color: rgba(199, 55, 75, 0.9);
  font-size: 21px;
  text-rendering: auto;
  // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  // #button:hover {
  // background-color: #C47482;
  // }

  #button::placeholder {
    color: rgba(199, 55, 75, 0.9);
    font-size: 20px;


  }
