.card-body {
  background-size: cover;
  background-position: center;
  height: 188px;
  border-radius: 4px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  a {
    color: white;
    &:hover {
      color: red;
    }
  }
}

.card-boat-name{
  color: white;
} .card-boat-name:hover {
  text-decoration: none;
  color: red;
}
.card.boat-img {
  width: 100%;
}

.card-boat-name {

  a {
    color: white;

  }

  a:hover {
    text-decoration: none;
    color: white;
    font-size: 28px;
  }
}

.boat-container {
  margin-top: 3%;
  margin-bottom: 5%;
}

// own boats cards

.card-own {
  flex: 1 1 auto;
  margin:10px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.card-own:hover {
  margin-top: -5px;
}

.card-own-body {
  height: 180px;
  background-size: cover;
  color: white;
  position:relative;
}
.card-own-body:hover {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)),
}

.footer-own {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}


.name-design a {
  color: white;
}
.name-design {
  text-align: left;
  padding: 18px;
}

.name-design a:hover {
  text-decoration: none;
  color: white;
}

