.filtering-btns {
  color: #C7374B;
  font-size: 16px;
}

.btn.btn.active {
  color: red;
  border-radius: 3px;
  margin: 3px;
}

.price-btn {
  border: 1px solid #C7374B;
  padding: 5px 15px;
  text-align: center;
  border-radius: 6px;
}

