

.cont {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 20px;
}

.form-group {
  margin: 22px;
  .form-photo {
    margin-top: 15px;
  }
  .form-control {
    border-radius: 4px;
  }
}

.new-boat-header h1 {
  padding-top: 100px;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 300;
}


.btn-primary {
  color: #C7374B;;
  font-family: 'Montserrat';
  background-color: white;
  border-color: #C7374B;
  border-radius: 4px;
}

.btn-primary:hover {
  color: white;
  background-color: #C7374B;
  border-color: #C7374B;
}
