.new-boat-header{
  margin-top: 70px;
  margin-bottom: 5vh;
}

.field-group {
  margin: 0 auto;
  width: 50%;


  .form-control{
    height: 50px;
    text-align: center;
    margin: 30px;

  }
  .input {
    margin-left: 60px;

  }
    .btn.btn-primary {
    margin-bottom: 50px;
  }
}
