body {
  padding-top: 70px;
  background-color: white;
}

// increase space below banner

.home-space {
  margin-top: 30px;
  margin-bottom: 120px;
}

.header-home h1 {
  font-style: "Montserrat";
  text-align: center;
  padding-top: 1%;
}

.container-your-boats {
  margin: 6%;
}

// all boats css

.add-space-all {
  margin: 50px;

}
