.reviews {
  font-size: 18px;
  text-align:left;

}

.line {
  border-bottom: 1px solid #DBDBDB
}

.review-header {
  text-align: left;
}


.card-rating {
  border-bottom: 0.2px solid #c7374b80;

  padding: 10px;
  margin: 10px;
  margin-left: 60px;

}

.review-user{
  font-size: 13px;
  text-align: right;
}

